.newsletter-signup
  color: $color-blue
  display: block
  margin: auto
  text-transform: uppercase

.contact
  img
    width: 100%
    margin-bottom: 1em
  p
    width: 95%
    margin: auto
    margin-bottom: 1.5em
  .newsletter-signup
    p
      width: 100%
