.hero
  background-size: cover
  background-repeat: no-repeat
  padding: 3rem 0

  +mobile
    padding: 0

  .circle
    border-radius: 100%
    width: 100%
    padding-top: 100%
    overflow: hidden
    position: relative
    background: $color-blue-overlay

    +mobile
      border-radius: 0
      padding: 0


  .featured-info
    position: absolute
    top: 0
    padding: 40% 10% 
    width: 100%
    height: 100%
    color: $color-beige
    text-align: center
    line-height: 1em
    font-style: italic

    +tablet
      padding: 30% 5%

    +mobile
      position: static
      padding: 10%

    h1, h2
      color: $color-beige
      text-transform: uppercase

    h1
      margin-bottom: 0
      
    .featured-details
      text-align: center
      color: $color-beige
      font-style: italic
      margin-bottom: .5rem

    .buy-tickets
      margin-bottom: 1rem
      margin-top: 1rem

    .learn
      position: absolute
      bottom: 10%
      left: 0
      width: 100%

      +mobile
        position: static

      h2
        font-size: $type-size-base
        font-weight: 500
        margin-bottom: .5rem
        letter-spacing: .2rem

      .arrow
        width: 0
        height: 0
        border-left: 50px solid transparent
        border-right: 50px solid transparent
        border-top: 25px solid $color-beige
        margin: auto











