section.location
  position: relative
  height: 355px
  margin-bottom: 64px

  .map
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    max-width: none
    padding: 0
    font-size: 1rem
    z-index: $layer-base

    .map-canvas
      height: 100%

  .contact-info
    position: relative
    z-index: $layer-raised
    padding: 0
    pointer-events: none
    h5
      color: $color-beige
      text-transform: uppercase
      letter-spacing: 4px
    a
      color: $color-beige
      text-decoration: none
      margin-top: 1em

    .column
      pointer-events: all
      background: $color-blue-overlay
      height: 355px
      color: white
      padding: 50px
      .address, .phone, .email, .social-media
        color: $color-beige

  .social-media
    color: $color-beige
    margin-top: 10px
    line-height: 50px
    font-size: $type-size-base * 2
    text-align: center
    letter-spacing: 10px
