.troupe-members
  .troupe-member
    position: relative
    border-radius: 999em
    overflow: hidden
    padding-top: 100%
    background-size: cover
    cursor: pointer
    margin-bottom: $columns-gutter

    h4
      padding-top: 45%
      top: 0
      position: absolute
      width: 100%
      height: 100%
      background-color: $color-blue-overlay
      text-align: center
      color: $color-beige
      transition: 0.15s linear background-color

    h4:hover
      background-color: transparent

