section.troupe-members
  .troupe-member
    position: relative
    border-radius: 999em
    overflow: hidden
    padding-top: 100%
    background-size: cover
    cursor: pointer
    margin-bottom: $columns-gutter

    h4
      padding-top: 45%
      top: 0
      position: absolute
      width: 100%
      height: 100%
      background-color: $color-blue-overlay
      text-align: center
      color: $color-beige
      transition: 0.15s linear background-color

    h4:hover
      background-color: transparent

section.troupe-modal
  display: none
  top: 0
  height: 100%
  width: 100%
  background-color: $color-blue-overlay
  position: absolute
  z-index: $layer-modal

  .modal-controls
    background-color: $color-white
    text-align: right
    .close
      margin: -0.5rem
      padding: 0.5rem
      cursor: pointer
      color: $color-blue
      &:hover
        color: $color-blue-overlay
      &:active
        color: $color-blue

  .troupe-member-details
    background-color: $color-white
