section.navigation
  background: $color-blue
  font-weight: 500
  z-index: 100

  .logo
    background-color: $color-blue
    +tablet
      text-align: center
      img
        margin: 0 auto

    +mobile
      padding: 1rem

  .links
    background: $color-beige

  ul
    +list-reset
    text-align: center
    li
      display: inline-block
      +mobile
        display: block
        border-bottom: 1px solid $color-white
        &:last-of-type
          border-bottom: none

      a
        display: block
        padding: 2rem 1rem
        transition: 0.1s linear all

        &:hover
          background-color: transparentize($color-blue, 0.9)

        +mobile
          padding: 1rem 0

