.programming
  color: $color-blue
  font-style: italic
  font-weight: 300
  
  ul
    list-style-type: none
    padding-left: 0
  
  h3
    text-align: center

  h4
    text-transform: uppercase
    font-weight: 700
  .workshop-info
    .workshop
      padding: 0 0.5em
      border-right: 1px solid $color-blue
      &:first-of-type
        padding-left: 0
      &:last-of-type
        padding-right: 0
        border-right: none
  .class-info
    font-style: italic
    font-weight: 300
    .class
      padding: 0 0.5em
      border-right: 1px solid $color-blue
      &:first-of-type
        padding-left: 0
      &:last-of-type
        padding-right: 0
        border-right: none

