.giving
  color: white
  height: 500px
  background-size: cover
  background-repeat: no-repeat
  background-position: 50% 40%
  background-image: url(../images/colevity_support.jpg)

  article
    width: 500px
    height: 500px
    padding-top: 2rem
    padding-bottom: 2rem
    color: $color-beige
    background-color: $color-blue-overlay

  .column 
    width: 450px

    .giving-title
      text-align: center
      letter-spacing: 1.5px
      text-transform: uppercase

    .giving-info
      font-size: 16px
      font-weight: 200
      letter-spacing: 1px

    .giving-options
      padding-top: 1rem

    .giving-button
      border: none
      height: 32px
      width: 200px
      padding: 5px 0
      display: block
      cursor: pointer
      transition: .3s
      margin-top: 10px
      margin-left: auto
      margin-right: auto
      text-align: center
      text-transform: uppercase
      color: $color-blue
      font-size: $type-size-base
      background-color: $color-beige
      
    .giving-button:hover
      background-color: $color-blue-overlay
      
